* {
    box-sizing: border-box;
}

body {
    font-size: 16px;
    color: #5E6282;
    overflow-x: hidden;
    font-family: 'Poppins', sans-serif;
    margin: 0;

    background-image: url("../src/Decorative-elements/hero-section-background.svg");
    background-repeat: no-repeat;
    background-position: top right;
    background-size: calc((100vw - 1280px) / 2 + 640px);
}

a {
    text-decoration: none;
    color: #5E6282;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
}

.title {
    font-size: 18px;
    color: #5E6282;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    margin-bottom: 15px;
}

.subtitle {
    font-size: clamp(2.25rem, 1.6vw + 1.9rem, 3.125rem);
    color: #14183E;
    font-weight: bold;
    font-family: 'Volkhov', serif;
}

.container {
    width: 1280px;
    padding: 0 40px;
}

.btn {
    padding: 1em 1.7em;
    color: #fff;
    font-size: 18px;
    font-weight: 500;
    border-radius: 10px;

    display: flex;
    justify-content: center;
    align-items: center;
}


/* ############################################################################################
####################################### HEADER #############################################
############################################################################################ */

.header {
    display: flex;
    justify-content: center;
    margin-top: 50px;
    font-weight: 500;
    font-family: 'Roboto', sans-serif;
}

.header__container {
    display: flex;
    align-items: center;
}

.header__logo {
    margin-bottom: 11px;
    margin-right: auto;
}

.nav {
    width: 50%;
    margin-left: auto;
}

.nav__menu {
    list-style: none;
    display: flex;
    padding: 0;
    justify-content: space-evenly;
    width: 100%;
}

.nav__link {
    color: #212832;
}

.headers__buttons {
    display: flex;
    width: 25%;
}

.header__btn {
    color: #212832;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: auto;
}

.btn_sign-up {
    margin: auto;
    border: 1px solid #212832;
    border-radius: 5px;
    padding: 9px 21px;
}

.language-changer {
    display: flex;
    align-items: center;
    cursor: pointer;
}

.language {
    margin-right: 8px;
    height: auto;
    color: #212832;
}

.arrow {
    border: solid black;
    border-width: 0 1px 1px 0;
    display: inline-block;
    padding: 3px;
}

  
.arrow_down {
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    margin-top: 10px;
}

.header__burger {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-left: 20px;
    min-width: 20px;
    height: 20px;
}

.burger__item {
    height: 3px;
    background-color: #212832;
    border-radius: 5px;
}

/* ############################################################################################
####################################### HERO #############################################
############################################################################################ */

.hero {
    display: flex;
    justify-content: center;
}

.hero__container {
    display: flex;
}

.hero__content {
    display: flex;
    flex-direction: column;
    font-family: 'Poppins', sans-serif;
    margin-top: calc(1vw + 65px);
    width: 50%;
}

.hero__subtitle {
    color: #DF6951;
    text-transform: uppercase;
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 15px;
}

.hero__title {
    color: #181E4B;
    font-size: clamp(2.5rem, 4.4vw + 1.3rem, 5.25rem);
    font-weight: bold;
    font-family: 'Volkhov', serif;
    margin-bottom: 30px;
}

.hero__text {
    width: 80%;
    margin-bottom: 35px;
}

.hero__buttons {
    display: flex;
    flex-wrap: wrap;
    column-gap: 50px;
}

.hero__btn {
    background-color: #F1A501;
    font-family: 'Roboto', sans-serif;
}

.hero__play {
    display: flex;
    align-items: center;
}

.hero__btn_play {
    background-color: #DF6951;
    border-radius: 100%;
    width: 52px;
    height: 52px;
    margin-right: 20px;
    padding: 0;
}

.btn__triangle {
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 7px 0 7px 12px;
    border-color: transparent transparent transparent #fff;
    margin-left: 3px;
}

.btn__text {
    font-weight: 500;
}

.hero__image-wrapper {
    width: 50%;
    position: relative;
}

.hero__image {
    width: 120%;
    display: block;
    position: absolute;
    right: -30px;
    margin-top: 50px;
}

/* ############################################################################################
####################################### CATEGORY  #############################################
############################################################################################ */

.category {
    display: flex;
    justify-content: center;
    margin-top: 200px;
}

.category .container {
    text-align: center;
}

.category .cards {
    display: flex;
    justify-content: center;
    margin-top: 80px;
    flex-wrap: wrap;
}


.category .card {
    width: 240px;
    height: 320px;
    display: flex;
    margin: 30px 30px;
    justify-content: center;
    background-color: #FFF;
    flex-direction: column;
    align-items: center;
    border-radius: 20px;
    position: relative;
    cursor: pointer;

    transition: box-shadow 0.5s;
}

.category .card::before {
    content: '';
    width: 100px;
    height: 100px;
    background-color: #DF6951;
    position: absolute;
    border-radius: 30px 0 10px 0;
    bottom: 10px;
    left: 10px;
    transition: bottom 1s, left 1s;

    z-index: -1;
}

.category .card:hover::before, .card:focus::before  {
    bottom: -30px;
    left: -30px;
}

.category .card:hover, .card:focus {
    box-shadow: 0px 0px 50px 1px rgba(0, 0, 0, 0.1);
}

.category .card:hover .card::before {
    background-color: #FFF1DA;
}

.pair {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.category .card .image {
    width: 92px;
    height: 78px;

    margin-bottom: 30px;
    position: relative;
}

.category .card .image::before {
    content: '';
    width: 50px;
    height: 50px;
    background-color: #FFF1DA;
    position: absolute;
    border-radius: 10px 5px 18px 5px;
    bottom: 0;
    right: 0;
}

.category .card .image .icon {
    position: absolute;
    left: 0;
    top: 0;
}

.category .pair:nth-child(1) .card:nth-child(2) .image::before {
    border-radius: 5px 10px 5px 18px;
    top: 0;
    left: 0;
}

.category .pair:nth-child(1) .card:nth-child(2) .image .icon {
    left: -50%;
    top: -50%;
}

.category .pair:nth-child(2) .card:nth-child(1) .image::before {
    border-radius: 5px 18px 5px 10px;
    top: 0;
    right: 0;
}

.category .pair:nth-child(2) .card:nth-child(1) .image .icon {
    top: 10%;
    left: 25%;
}

.category .pair:nth-child(2) .card:nth-child(2) .image::before {
    border-radius: 5px 10px 5px 18px;
    right: 0;
    bottom: 0;
}

.category .pair:nth-child(2) .card:nth-child(2) .image .icon {
    top: 15%;
    left: 15%;
}

.category .card .title {
    color: #1E1D4C;
    font-size: 20px;
}

.category .card .text {
    color: #5E6282;
    font-weight: 500;
    line-height: 1.625;
    width: 80%;
}

/* ############################################################################################
####################################### TOP SELLING #############################################
############################################################################################ */

.top_selling {
    display: flex;
    justify-content: center;
    margin-top: 100px;
}

.top_selling .container {
    text-align: center;
}

.top_selling .cards {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}

.top_selling .card {
    position: relative;
    width: clamp(240px, 30vw, 320px);
    height: auto;
    border-radius: 25px;
    cursor: pointer;
    overflow: hidden;
    box-shadow: 0px 0px 25px 1px rgba(0, 0, 0, 0.1);
    margin: 30px clamp(10px, 3vw - 15px, 50px);

    transition: transform .2s;
}

.top_selling .card:hover, .top_selling .card:hover {
    transform: scale(1.02);
}

.top_selling .card .image {
    width: 100%;
}

.top_selling .info {
    width: 100%;
    position: absolute;
    bottom: 0;
    background-color: #fff;
    padding: 30px 25px 40px 25px;

    font-weight: 500;
    font-size: clamp(0.75rem, 1.2vw + 0.2rem, 1.125rem);
    line-height: 125%;
}

.top_selling .line {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.top_selling .card  .line:nth-child(2) {
    margin-top: 25px;
    justify-content: unset;
}

.top_selling .icon {
    margin-right: 15px;
}

.top_selling .days {
    font-size: clamp(0.625rem, 1vw + 0.2rem, 1rem);
}
