* {
    box-sizing: border-box;
}

body {
    font-size: 16px;
    color: #5E6282;
    overflow-x: hidden;
    font-family: 'Roboto', sans-serif;
    margin: 0;
}

a {
    text-decoration: none;
    color: #5E6282;
}

.container {
    width: 1230px;
}

.btn {
    width: 170px;
    height: 60px;
    color: #fff;
    font-size: 18px;
    font-weight: 500;
}


/* ############################################################################################
####################################### HEADER #############################################
############################################################################################ */

header {
    display: flex;
    justify-content: center;
    color: #212832;
    font-size: 17px;
    font-weight: 500;
}

.header-container {
    display: flex;
    padding: 40px 0 10px 0;
    align-items: center;
}

.header-logo {
    margin-right: 220px;
    margin-bottom: 11px;
}

.nav-list {
    list-style: none;
    display: flex;
    margin-right: 90px;
}

.nav-list__item {
    margin-right: 60px;

}

.nav-list__item:last-child {
    margin-right: 0;
}

.nav-list__item-link {
    color: #212832;
    font-size: 17px;
    font-weight: 500;
}

.header-btn {
    color: #212832;
    font-size: 17px;
    width: 100px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.signup-btn {
    border: 1px solid #212832;
    border-radius: 5px;
    margin: 0 40px 0 20px
}

.language-changer {
    display: flex;
    align-items: center;
}

.language {
    margin-right: 8px;
    height: auto;
}

.arrow {
    border: solid black;
    border-width: 0 1px 1px 0;
    display: inline-block;
    padding: 3px;
}

  
.arrow-down {
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    margin-top: 13px;
}

/* ############################################################################################
####################################### HERO #############################################
############################################################################################ */

.hero {
    background-image: url('../src/Decorative-elements/hero-section-background.jpg');
    height: 1000px;
}