@media screen and (max-width: 1024px) {
    body {
        font-size: 12px;
    }

    .btn {
        font-size: 15px;
    }

    .arrow_down {
        margin-top: 5px;
    }

    .hero__subtitle {
        font-size: 14px;
    }
}

@media screen and (min-width: 769px) {
    .header__burger {
        display: none;
    }
}

@media screen and (max-width: 768px) {
    body {
        background-size: 200px;
    }

    .Easy-and-Fast .container, .top_selling .cards, .Easy-and-Fast .step, .review .container, .subscription .form {
        flex-direction: column;
    }

    .nav__menu, .header__btn, .hero__image-wrapper {
        display: none;
    }

    .hero__container {
        justify-content: center;
    }

    .hero__content {
        width: 100%;
        align-items: center;
        text-align: center;
        margin-top: 100px;
    }

    .hero__buttons {
        width: 80%;
        height: 150px;
        align-items: center;
        justify-content: center;
    }

    .category {
        margin-top: 100px;
    }

    .Easy-and-Fast .content {
        width: 90%;
        text-align: center;
    }


    .Easy-and-Fast .step .icon {
        margin-right: 0;
        margin-bottom: 10px;
    }

    .review .text {
        width: 100%;
    }

    .review .reviews {
        margin-top: 100px;
        width: 100%;
    }

    .subscription input {
        width: 100%;
        margin: 0 0 20px 0;
    }

    .subscription .icon {
        right: 50%;
        left: 50%;
        transform: translateX(-45%);
    }
}

