@media screen and (max-width: 1024px) {
    body {
        font-size: 12px;
    }

    .btn {
        font-size: 15px;
    }

    .arrow_down {
        margin-top: 5px;
    }

    .hero__subtitle {
        font-size: 14px;
    }

    .category .container {
        background-image: unset;
    }
}

@media screen and (min-width: 769px) {
    .header__burger {
        display: none;
    }
}

@media screen and (max-width: 768px) {
    body {
        background-size: 200px;
    }

    .nav__menu {
        display: none;
    }

    .header__btn {
        display: none;
    }

    .hero__container {
        justify-content: center;
    }

    .hero__content {
        width: 100%;
        align-items: center;
        text-align: center;
        margin-top: 100px;
    }

    .hero__buttons {
        width: 80%;
        height: 150px;
        align-items: center;
        justify-content: center;
    }

    .hero__image-wrapper {
        display: none;
    }

    .category {
        margin-top: 100px;
    }
}

